<section class="hero-section">
  <div class="text">
    <h2>{{ 'hero.subtitle' | translate }}</h2>
    <h3>
      {{ 'hero.prefix' | translate }}
      <span class="typing-text">{{ currentText }}</span>
    </h3>
    <h1>{{ 'hero.title' | translate }}</h1>

    <p>
      <strong>{{ 'hero.role' | translate }}</strong>
      {{ 'hero.description' | translate }}
    </p>

    <div class="links">
      <a
        *ngFor="let link of links"
        [href]="link.href"
        [attr.download]="link.download ? '' : null"
        [class.cv]="link.download"
        class="btn-header"
        gaEvent
        [gaEventCategory]="'Header Links'"
        [gaEventAction]="'click'"
        [gaEventLabel]="link.label"
      >
        <i [class]="link.icon"></i>
        <span>{{ link.label | translate }}</span>
      </a>
    </div>
  </div>

  <div class="headshot">
    <img src="assets/images/Marcoo.webp" alt="Marco Scazzari" />
  </div>
  <app-go-top></app-go-top>
</section>
