.services .header {
  font-size: 50px;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

.services .header .stars {
  font-size: 40px;
  color: gold;
  margin-bottom: 10px;
}

.services .header h2 {
  letter-spacing: -2px;
  line-height: 1.1;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

.services .header h2::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: var(--link-color);
  /* blu */
  margin: 10px auto 0;
  border-radius: 2px;
}

.services .header p {
  font-size: 18px;
  color: #666;
  width: 70%;
  max-width: none;
  margin: 0 auto 40px;
  text-align: center;
}

.service-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.service-box {
  flex: 1 1 30%;
  background: var(--darkmode-background-color);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.service-box .label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}

.label.ux {
  color: var(--link-color);
  font-family: cursive;
}

.label.seo {
  color: var(--link-color);
  font-family: cursive
}

.label.web {
  color: var(--link-color);
  font-family: cursive
}

.service-box h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
  color: var(--text-color);
}

.service-box p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

.learn-more {
  display: inline-block;
  margin-top: 15px;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 2px solid var(--link-color);
  position: relative;
}

.learn-more::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 8px;
  background-color: var(--link-color);
  border-radius: 50%;
  z-index: -1;
}

.btn-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.view-all {
  background-color: var(--link-color);
  color: white;
  padding: 14px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
}

.view-all:hover {
  background-color: var(--darkmode-text-color);
  color: black;
}

/* Responsive */
@media (max-width: 900px) {
  .service-grid {
    flex-direction: column;
    align-items: center;
  }

  .service-box {
    width: 100%;
    max-width: 600px;
  }
}

