<section class="services" id="servizi">
  <div class="container">
    <div class="header">
      <div class="stars">★★★★★</div>
      <h2>{{ 'services.header.title' | translate }}</h2>
      <p>{{ 'services.header.description' | translate }}</p>
    </div>
    <div class="service-grid">
      <div class="service-box" *ngFor="let service of services">
        <h4 class="label ux" [ngClass]="service.type">{{ service.label | translate }}</h4>
        <h3>{{ service.title | translate }}</h3>
        <p>{{ service.description | translate }}</p>
        <a [routerLink]="service.link" class="learn-more">{{ 'services.buttons.learn_more' | translate }}</a>
      </div>
    </div>
    <div class="btn-wrapper">
      <a [routerLink]="['/servizi']" class="view-all">{{ 'services.buttons.view_all' | translate }}</a>
    </div>
  </div>
</section>
