<footer class="footer">
  <div class="social-icons">
    <a (click)="goToGithub()" class="external-link"
      ><i class="fab fa-github"></i
    ></a>
    <a (click)="goToLinkedin()" class="external-link"
      ><i class="fab fa-linkedin-in"></i
    ></a>
  </div>
  <div class="footer-nav">
    <a href="#skills">Skills</a>
    <a href="#testimony">Referenze</a>
    <a href="#">Su di me</a>
    <a href="#contact">Contatto</a>
  </div>
  <p class="footer-credit">© Marco Scazzari | Tutti i diritti riservati</p>
</footer>
