.project-card {
  background-color: #fff;
  border: 2px solid var(--link-color);
  border-radius: 16px;
  padding: 20px;
  max-width: 400px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 0.95rem;
  color: #4a76ee;
  font-weight: 600;
  margin: 0.5rem 0;
}

.project-card .and-symbol {
  color: #aaa;
}

.project-card h2 {
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
  color: black;
  letter-spacing: -1px !important;
}

.project-card p {
  font-size: 0.9rem;
  color: black;
  margin-bottom: 20px;
  text-align: center;
}