.projects-section {
  padding: 4rem 2rem;
  background-color: var(--background-color);
  text-align: center;
}

.projects-section h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #1a1c20;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}
@media (max-width: 768px) {
  .projects-section {
    padding: 2rem 1rem;
    text-align: center;
  }

  .projects-section h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .projects-container {
    flex-direction: column;
    gap: 1.5rem;
  }
}