<header>
  <nav>
    <div class="left">
      <a routerLink="/">Marco Scazzari</a>
    </div>

    <div class="right">
      <a (click)="goToGithub()" class="external-link">
        <i class="fa-brands fa-github"></i>
        <span>Github</span>
      </a>

      <a (click)="goToLinkedin()" class="external-link">
        <i class="fa-brands fa-linkedin"></i>
        <span>Linkedin</span>
      </a>

      <a (click)="openMail()" class="external-link">
        <i class="fa-solid fa-envelope" aria-hidden="true"></i>
        <span>Email</span>
      </a>
    </div>
  </nav>
</header>
