.skills-section {
  margin-top: 100px;
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-section h2 {
  text-align: center;
  letter-spacing: -2px !important;
  line-height: 1.1 !important;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
}

.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--text-color);
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  background-color: var(--darkmode-background-color);
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.skills-section .cells .cell:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .cells .cell span {
  font-size: 18px;
}

@media (max-width: 600px) {
  .skills-section .cells {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .skills-section .cells .cell:last-child:nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
    max-width: 150px;
  }
}
