.scroll-progress-bar {
  position: fixed;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.scroll-progress {
  height: 100%;
  background-color: var(--link-color);
  transition: width 0.1s linear;
}
