:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #f9f9f9;
  --darkmode-text-color: #1a1c20;
}

.dark-mode {
  --text-color: #eeeff1;
  --background-color: #0f0f14;
  --darkmode-text-color: #eeeff1;
  --darkmode-background-color: #1a1a1f;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  transition: background-color 0.4s ease, color 0.4s ease;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--link-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #3161e3;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
