<section id="contact" class="contact-section">
  <div class="group">
    <div class="text">
      <h2>{{ 'contact.header.title' | translate }}</h2>
      {{ 'contact.header.paragraph1' | translate }}
      <br /><br />
      {{ 'contact.header.paragraph2' | translate }}
      <br /><br />
      {{ 'contact.header.paragraph3' | translate }}
    </div>

    <div class="form-container">
      <div *ngIf="successMessage; else contactFormBlock" class="success-message fade-in">
        {{ successMessage | translate }}
      </div>

      <ng-template #contactFormBlock>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <input type="text" id="name" formControlName="name" [placeholder]="'contact.form.name' | translate" />
          <div *ngIf="showError('name')" class="error">
            {{ 'contact.errors.name_required' | translate }}
          </div>

          <input type="email" id="email" formControlName="email" [placeholder]="'contact.form.email' | translate" />
          <div *ngIf="showError('email')" class="error">
            <span *ngIf="contactForm.get('email')?.errors?.['required']">
              {{ 'contact.errors.email_required' | translate }}
            </span>
            <span *ngIf="contactForm.get('email')?.errors?.['email']">
              {{ 'contact.errors.email_invalid' | translate }}
            </span>
          </div>

          <textarea
            id="message"
            rows="6"
            formControlName="message"
            [placeholder]="'contact.form.message' | translate">
          </textarea>
          <div *ngIf="showError('message')" class="error">
            {{ 'contact.errors.message_required' | translate }}
          </div>

          <button type="submit" [disabled]="contactForm.invalid">
            {{ 'contact.form.send' | translate }}
          </button>
        </form>
      </ng-template>
    </div>
  </div>
</section>
